.buttons{
  width: 150px;
  height: 50px;
  background: green;
  color: white;
  margin: 10px;
}
body {
  background-color: lightblue;
  text-align:center;
}
#content_contacts{
  line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
#dial, #clear{
  color: white;
  background: green;
}
